/* If not using Tailwind's build process, import the generated CSS instead */
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';


@layer base {
  :root {
    /* LIGHT MODE */
    --color-bg: #ffffff;            /* putih */
    --color-header: #bae6fd;        /* sky-200 */
    --color-surface: #dcfce7;       /* green-100 */
    --color-gray-100: #ececec;
    
    --color-cta: #4a86e7;           /* blue-500 */
    --color-cta-soft: #60a5fa;      /* blue-400 */

    --color-text-base: #1e293b;     /* slate-700 */
    --color-text-muted: #64748b;    /* slate-500 */

    --color-border: #9d9d9d;        /* slate-300 */
    --color-accent: #f97316;        /* orange-500 */
    --color-accent-soft: #eab308;   /* yellow-500 */
  }

  .dark {
    /* DARK MODE */
    --color-bg: #0f172a;            /* slate-900 */
    --color-header: #1e293b;        /* slate-800 */
    --color-surface: #0f766e;       /* teal-700 */
    --color-gray-100: #0f172a;

    --color-cta: #3b82f6;           /* MASIH blue-500 */
    --color-cta-soft: #60a5fa;      /* MASIH blue-400 */

    --color-text-base: #e2e8f0;     /* slate-200 */
    --color-text-muted: #94a3b8;    /* slate-400 */

    --color-border: #334155;        /* slate-700 */
    --color-accent: #fb923c;        /* orange-400 */
    --color-accent-soft: #facc15;   /* yellow-400 */
  }

  body {
    @apply bg-bg text-textBase transition-colors duration-300;
  }
}
